{% extends './base.html' %}
{% block titulo %}Contacto{% endblock titulo %}
{% load static %}



{% block contenido %}
<!--======= Contacto Section ======= -->
<section id="contact-form" class="contact-form">
  {% for message in messages %}
  <div class="alert alert-success custom-message">
      {{ message }}
  </div>
{% endfor %}

  </div>
<div class="container">
    <div class="section-title">
      <h2>Contacto</h2>
    </div>
    <p>Por favor complete el siguiente formulario para enviar un mensaje:</p>

    <form method="post">
      {% csrf_token %}
      {{ contact_form.as_p }}
      <button type="submit" class="btn btn-primary" id='send-button'>Enviar Mensaje</button>
    </form>
</section>
<!-- End Contacto Section -->

{% endblock contenido %}