{% extends './base.html' %}
{% block titulo %}Galeria{% endblock titulo %}
{% load static %}

{% block contenido %}

<!--======= Galeria Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="section-title">
      <h2>Galería de Imágenes</h2>
    </div>

    <div
      class="row portfolio-container"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img
            src="{% static '/home/img/Fotos_kart_plus/1' %}.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-links">
            <a
              href="{% static '/home/img/Fotos_kart_plus/1' %}.jpg"
              data-gallery="portfolioGallery"
              class="portfolio-lightbox"
              ><i class="bx bx-plus"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img
            src="{% static '/home/img/Fotos_kart_plus/6' %}.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-links">
            <a
              href="{% static '/home/img/Fotos_kart_plus/6' %}.jpg"
              data-gallery="portfolioGallery"
              class="portfolio-lightbox"
              ><i class="bx bx-plus"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img
            src="{% static '/home/img/Fotos_kart_plus/3' %}.jpeg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-links">
            <a
              href="{% static '/home/img/Fotos_kart_plus/3' %}.jpeg"
              data-gallery="portfolioGallery"
              class="portfolio-lightbox"
              ><i class="bx bx-plus"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img
            src="{% static '/home/img/Fotos_kart_plus/P' %}odio.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-links">
            <a
              href="{% static '/home/img/Fotos_kart_plus/P' %}odio.jpg"
              data-gallery="portfolioGallery"
              class="portfolio-lightbox"
              ><i class="bx bx-plus"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img
            src="{% static '/home/img/Fotos_kart_plus/4' %}.jpeg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-links">
            <a
              href="{% static '/home/img/Fotos_kart_plus/4' %}.jpeg"
              data-gallery="portfolioGallery"
              class="portfolio-lightbox"
              ><i class="bx bx-plus"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img
            src="{% static '/home/img/Fotos_kart_plus/5' %}.jpeg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-links">
            <a
              href="{% static '/home/img/Fotos_kart_plus/5' %}.jpeg"
              data-gallery="portfolioGallery"
              class="portfolio-lightbox"
              ><i class="bx bx-plus"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img
            src="{% static '/home/img/Fotos_kart_plus/7' %}.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-links">
            <a
              href="{% static '/home/img/Fotos_kart_plus/7' %}.jpg"
              data-gallery="portfolioGallery"
              class="portfolio-lightbox"
              ><i class="bx bx-plus"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img
            src="{% static '/home/img/Fotos_kart_plus/8' %}.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-links">
            <a
              href="{% static '/home/img/Fotos_kart_plus/8' %}.jpg"
              data-gallery="portfolioGallery"
              class="portfolio-lightbox"
              ><i class="bx bx-plus"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img
            src="{% static '/home/img/Fotos_kart_plus/9' %}.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-links">
            <a
              href="{% static '/home/img/Fotos_kart_plus/9' %}.jpg"
              data-gallery="portfolioGallery"
              class="portfolio-lightbox"
              ><i class="bx bx-plus"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Galeria Section -->

{% endblock contenido %}
