{% load static %}

<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">
    <div class="profile">
      <img
        src="{% static '/home/img/FS.jpeg' %}"
        alt=""
        class="img-fluid rounded-circle"
      />
      <h1 class="text-light"><a href="index.html">Franco Manuel Stier</a></h1>
    </div>

    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <li>
          <a href="{% url 'home' %}" class="nav-link scrollto"
            ><i class="bx bx-home"></i> <span>Home</span></a
          >
        </li>
        <li>
          <a href="{% url 'sobre_mi' %}" class="nav-link scrollto"
            ><i class="bx bx-user"></i> <span>Sobre Mí</span></a
          >
        </li>
        <li>
          <a href="{% url 'resumen' %}" class="nav-link scrollto"
            ><i class="bx bx-file-blank"></i> <span>Resumen</span></a
          >
        </li>
        <li>
          <a href="{% url 'proyecto_F4' %}" class="nav-link scrollto"
            ><i class="bx bx-envelope"></i> <span>Proyecto F4</span></a
          >
        </li>
        <li>
          <a href="{% url 'noticias' %}" class="nav-link scrollto"
            ><i class="bx bx-news"></i> <span>Noticias</span></a
          >
        </li>
        <li>
          <a href="{% url 'galeria' %}" class="nav-link scrollto"
            ><i class="bx bx-book-content"></i> <span>Galería</span></a
          >
        </li>
        <li>
          <a href="{% url 'contacto' %}" class="nav-link scrollto"
            ><i class="bx bx-conversation"></i> <span>Contacto</span></a
          >
        </li>
       {% if user.is_authenticated %}
        <div class="container pt-5">
          <h6 class="text-light">Bienvenido/a, {{ user.username }}.</h6>
        </div>
        {% if perms.admin %}
        <li>
          <a href="admin/" class="nav-link scrollto"><i class="bx bx-cog"></i
            ><span>Administrar</span></a>
        </li>
        {% endif %}
        <li>
          <a href="{% url 'password_change' %}" class="nav-link scrollto"
            ><i class="bx bx-lock"></i
            ><span>Cambiar Contraseña</span></a
          >
        </li>
        <li>
          <a href="{% url 'logout' %}" class="nav-link scrollto"
            ><i class="bx bx-log-out"></i><span>Logout</span></a
          >
        </li>
        {% else %}
        <div class="container pt-5 ">
        <li>
          <a href="{% url 'login' %}" class="nav-link scrollto"
            ><i class="bx bx-log-in"></i><span>Login</span></a
          >
        </li>
        <li>
          <a href="{% url 'registro' %}" class="nav-link scrollto"
            ><i class="bx bx-id-card"></i><span>Registrarse</span></a
          >
        </li>
        {% endif %}
      </ul>
    </nav>
    <!-- .nav-menu -->
  </div>
</header>
<!-- End Header -->
