{% extends './base.html' %}
{% load static %}

{% block titulo %}Franco Stier{% endblock titulo %}

{% block contenido %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Franco Manuel Stier</h1>
      <p>Piloto <span class="typed" data-typed-items="Campeón Kart Plus"></span></p>
    </div>
  </section>
<!-- End Hero -->

{% endblock contenido %}