{% extends './base.html' %}
{% block titulo %}New Notice{% endblock titulo %}
{% load static %}

{% block contenido %}

<!--======= Contacto Section ======= -->

<section id="contact-form" class="contact-form">
  <div class="container">
    <div class="section-title">
      <h2>Nueva Noticia</h2>
    </div>
    <p>Llená el formulario para publicar:</p>

    <form method="post">
      {% csrf_token %}
      {{ contact_form.as_p }}
      <button type="button" class="btn btn-primary">Enviar</button>
    </form>
</section>

<!-- End Contacto Section -->

{% endblock contenido %}