{% extends './base.html' %}
{% block titulo %}Nueva Publicación{% endblock titulo %}
{% load static %}

{% block contenido %}

<section id="publication_form-form" class="publication_form">
  {% for message in messages %}
  <div class="alert alert-success custom-message">
      {{ message }}
  </div>
{% endfor %}

<section id="publication_form" class="publication_form">
  <div class="container">
    <div class="section-title">
      <h2>Nueva Publicación</h2>
    </div>
    <p>Llená el formulario para publicar:</p>

    <form method="post">
      {% csrf_token %}
      {{ publication_form.as_p }}
      <button type="submit" class="btn btn-primary">Nueva Publicacion</button>
    </form>
</section>

{% endblock contenido %}