<!-- ======= Results Section ======= -->
<section id="facts" class="facts">
    <div class="container">

      <div class="section-title">
        <h2>Resultados Kart Plus</h2>
      </div>

      <div class="row no-gutters">

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
          <div class="count-box">
            <i class="bi bi-trophy"></i>
            <span data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="1"
              class="purecounter"></span>
            <p><strong>Victorias</strong></p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="count-box">
            <i class="bi bi-123"></i>
            <span data-purecounter-start="0" data-purecounter-end="7" data-purecounter-duration="1"
              class="purecounter"></span>
            <p><strong>Podios</strong></p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="count-box">
            <i class="bi bi-lightning-charge"></i>
            <span data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="1"
              class="purecounter"></span>
            <p><strong>Poles</strong></p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="count-box">
            <i class="bi bi-1-circle"></i>
            <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1"
              class="purecounter"></span>
            <p><strong>Posición Final Campeonato</strong></p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Results Section -->