{% extends './base.html' %} 
{% block titulo %}Resumen{% endblock titulo %}
{% block contenido %}

<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
  <div class="container">
    <div class="section-title">
      <h2>Resumen</h2>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-up">
        <div class="resume-item pb-0">
          <h4>Franco Manuel Stier</h4>
          <p>
            <em
              >Piloto jóven, con ganas de ir a ganar todo con +4 años de
              experiencia en simuladores. En mi primer año de kart llego
              definiendo el campeonato a la última fecha. Vista puesta en el
              futuro, debutar en Formula 4 Nueva Generación.</em
            >
          </p>
          <ul>
            <li>Pilar, Buenos Aires</li>
            <li>+54 9 11 6705 8731</li>
            <li>francostier@gmail.com</li>
          </ul>
        </div>

        <h3 class="resume-title">Educación</h3>
        <div class="resume-item">
          <h4>Egresado Bachiller</h4>
          <h5>2015 - 2021</h5>
          <p><em>Instituto Madre del Divino Pastor, Buenos Aires, Pilar</em></p>
        </div>
        <div class="resume-item">
          <h4>Abogacía</h4>
          <h5>2022 - Actualidad</h5>
          <p><em>Universidad del Salvador, Pilar, Buenos Aires</em></p>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title">Experiencia Deportiva</h3>
        <div class="resume-item">
          <h4>iRacing - Desafío Motor</h4>
          <h5>2020 - 2021</h5>
        </div>
        <div class="resume-item">
          <h4>iRacing - HB SimRacing</h4>
          <h5>2021 - 2022</h5>
        </div>
        <div class="resume-item">
          <h4>Kart Plus</h4>
          <h5>2021 - 2022</h5>
        </div>
        <div class="resume-item">
          <h4>F4 Nueva Generación</h4>
          <h5>2023?</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Resume Section -->

<!-- ======= Skills Section ======= -->
<section id="skills" class="skills section-bg">
  <div class="container">
    <div class="section-title">
      <h2>Skills</h2>
    </div>

    <div class="row skills-content">
      <div class="col-lg-6" data-aos="fade-up">
        <div class="progress">
          <span class="skill">Clasificación <i class="val">75%</i></span>
          <div class="progress-bar-wrap">
            <div
              class="progress-bar"
              role="progressbar"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">Consistencia <i class="val">90%</i></span>
          <div class="progress-bar-wrap">
            <div
              class="progress-bar"
              role="progressbar"
              aria-valuenow="90"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">Respeto en pista <i class="val">100%</i></span>
          <div class="progress-bar-wrap">
            <div
              class="progress-bar"
              role="progressbar"
              aria-valuenow="100"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="progress">
          <span class="skill">Mentalidad <i class="val">80%</i></span>
          <div class="progress-bar-wrap">
            <div
              class="progress-bar"
              role="progressbar"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">FairPlay<i class="val">90%</i></span>
          <div class="progress-bar-wrap">
            <div
              class="progress-bar"
              role="progressbar"
              aria-valuenow="90"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">Motivación<i class="val">100%</i></span>
          <div class="progress-bar-wrap">
            <div
              class="progress-bar"
              role="progressbar"
              aria-valuenow="100"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Skills Section -->

{% endblock contenido %}
