{% extends './base.html' %}
{% block titulo %}Proyecto F4{% endblock titulo %} 
{% load static %} 

{% block contenido %}

<!-- ======= Project Section ======= -->
<section id="services" class="services section-bg">
  <div class="container section-bg">
    <div class="section-title">
      <h2>Proyecto Formula 4 Nueva Generación</h2>
      <h3 class="resume-title">
        <em>¿POR QUÉ DEBES PUBLICITAR EN AUTOMOVILISMO?</em>
      </h3>
    </div>
    <div class="row" style="padding-bottom: 20px">
      <div class="col-lg-6" data-aos="fade-left" style="padding: 4px">
        <img
          src="{%static '/home/img/apart1.jpg' %}"
          class="img-fluid img-thumbnail"
          alt=""
        />
      </div>
      <div class="col-lg-6" data-aos="fade-left" style="padding: 4px">
        <img
          src="{%static '/home/img/apart3.jpg' %}"
          class="img-fluid img-thumbnail"
          alt=""
        />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
        <div class="icon"><i class="bi bi-people"></i></div>
        <p class="description">
          El automovilismo es el segundo deporte con más audiencia a nivel
          nacional.
        </p>
      </div>
      <div
        class="col-lg-4 col-md-6 icon-box"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="icon"><i class="bi bi-card-checklist"></i></div>
        <p class="description">
          Su empresa será visualizada por muchas personas en cada fecha. Tanto
          dentro del autodromo como por la televisación. Además de la exposición
          en redes sociales.
        </p>
      </div>
      <div
        class="col-lg-4 col-md-6 icon-box"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="icon"><i class="bi bi-briefcase"></i></div>
        <p class="description">
          Sus posibilidades de negocio están emparentadas con los demás
          auspiciantes de mi carrera deportiva.
        </p>
      </div>
      <div
        class="col-lg-4 col-md-6 icon-box"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <div class="icon"><i class="bi bi-binoculars"></i></div>
        <p class="description">
          Su marca será siempre tratada como si fuera el producto más importante
          del país. Representada de la manera más profesional.
        </p>
      </div>
      <div
        class="col-lg-4 col-md-6 icon-box"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        <div class="icon"><i class="bi bi-bar-chart"></i></div>
        <p class="description">
          La F4 NG es una de las categorías de monoplazas más reconocidas a
          nivel nacional, con un gran nivel y de donde han salido grandes
          figuras.
        </p>
      </div>
      <div
        class="col-lg-4 col-md-6 icon-box"
        data-aos="fade-up"
        data-aos-delay="500"
      >
        <div class="icon"><i class="bi bi-tv"></i></div>
        <p class="description">
          La categoría transmite todas sus carreras por YouTube y por la TV
          Pública Argentina donde comparte pantalla con las divisionales de la
          ACTC, TC Mouras, TC Pista Mouras y TC PickUp; las cuales siempre
          tienen gran cantidad de espectadores gracias a su popularidad.
        </p>
      </div>
      <div
        class="col-lg-4 col-md-6 icon-box"
        data-aos="fade-up"
        data-aos-delay="500"
      >
        <div class="icon"><i class="bi bi-calendar4-week"></i></div>
        <p class="description">
          En 2023 serán 11 las fechas a disputarse, donde hay actividad los tres
          días del fin de semana. Asegurando una exposición constante de la
          marca.
        </p>
      </div>
      <div
        class="col-lg-4 col-md-6 icon-box"
        data-aos="fade-up"
        data-aos-delay="500"
      >
        <div class="icon"><i class="bi bi-link-45deg"></i></div>
        <p class="description">
          <a href="http://formula4.com.ar/" target="_blank"
            >Página Oficial F4 NG</a
          >
        </p>
        <p class="description">
          <a href="https://youtu.be/OZ0OSUXNzXc?t=318" target="_blank"
            >Ejemplo de Transmisión</a
          >
        </p>
      </div>
    </div>

    <section id="resume" class="resume">
      <div class="container">
        <div class="section-title">
          <h3 class="resume-title">PRESUPUESTO POR CARRERA</h3>
          <p>
            <em
              >Los siguientes valores representan 1 (una) carrera dentro de la
              categoría en el año 2023. Son valores estimativos.</em
            >
          </p>
        </div>
        <h3 class="resume-title">IMPRESCINDIBLES</h3>
        <div class="resume-item">
          <h4>Alquiler del monoplaza</h4>
        </div>
        <div class="resume-item">
          <h4>Inscripción a la carrera</h4>
        </div>
        <div class="resume-item">
          <h4>Licencia médica</h4>
        </div>
        <div class="resume-item">
          <h4>Neumáticos</h4>
        </div>
        <div class="resume-item">
          <h4>Atención en pista por parte del equipo</h4>
        </div>
        <div class="resume-item">
          <h4>Sensores</h4>
        </div>
        <div class="resume-item">
          <h4>Total :</h4>
          <h5>
            US$2.000 (dos mil dólares),
            <b>entre todas las empresas interesadas.</b>
          </h5>
        </div>
        <!-- Slider Sponsors -->
        <div
          class="brand-carousel section-padding owl-carousel"
          data-aos="fade-up"
        >
          <div class="single-logo">
            <img src="{% static '/home/img/logos/1993.png' %}" alt="" />
          </div>
          <div class="single-logo">
            <img src="{% static '/home/img/logos/city.png' %}" alt="" />
          </div>
          <div class="single-logo">
            <img src="{% static '/home/img/logos/eljo.png' %}" alt="" />
          </div>
          <div class="single-logo">
            <img
              src="{% static '/home/img/logos/estudiocastillologo2.png' %}"
              alt=""
            />
          </div>
          <div class="single-logo">
            <img src="{% static '/home/img/logos/lagos.png' %}" alt="" />
          </div>
          <div class="single-logo">
            <img src="{% static '/home/img/logos/rey_oro.png' %}" alt="" />
          </div>
          <div class="single-logo">
            <img src="{% static '/home/img/logos/rodeo.png' %}" alt="" />
          </div>
          <div class="single-logo">
            <img src="{% static '/home/img/logos/stamp.png' %}" alt="" />
          </div>
          <div class="single-logo">
            <img src="{% static '/home/img/logos/aav.png' %}" alt="" />
          </div>
          <div class="single-logo">
            <img src="{% static '/home/img/logos/WT.png' %}" alt="" />
          </div>
        </div>

        <!-- End Slider Sponsors -->
      </div>
    </section>
  </div>
</section>
<!-- End Project Section -->

{% endblock contenido %}
