{% extends "blog/base.html" %}
{% load static %}

{% block content %}
<div class="card mt-3 border-0">
  <div class="card-body">
    <form action="" method="post">
      {% csrf_token %}
      <img src="{% get_media_prefix %}{{ post.imagen }}" class="card-img-top" alt="{{ post.titulo }}">
      <h5 class="text-title text-center mt-3">
        Seguro que queres borrar "{{ post }}"?
      </h5>
      <p class="text-center">
        <small><i>Atencion: Todos los comentarios seran borrados.</i></small>
      </p>
      <p class="text-end">
        <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-secondary">Cancelar</a>
        <input class="btn btn-danger" type="submit" value="Confirm" />
      </p>
    </form>
  </div>
</div>
{% endblock %}
