{%extends './base.html'%}
{% load static %}

{% block titulo %}Escuela{% endblock titulo %}

{%block contenido %}

<!-- Escuela -->
<section id="escuela" class="bg-light-gray">
    <div class="container">

      <div class="row">
        <div class="col-lg-2 text-center">
        </div>
        <div class="col-lg-8 text-center">
          <h3>Escuela de Seducción y Desarrollo Personal…</h3> <br>
          <div class="banner"><img src="{% static '/home/img/bann.jpg' %}" class="img-responsive" alt="Celine Stajcer"></div>
          </div>
          <div class="col-lg-2 text-center">
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 text-center">
            <br>

            <p class="text-justify">Fundadora de la Primera Escuela de Seducción en Latinoamérica en el año 2010…</p>
            <p class="text-justify">Desde la Escuela de Seducción y Desarrollo Personal (parte integrada al aprendizaje)
              quiero invitarlas a que se transformen, revaliden sus vivencias y se conviertan en la MUJER que siempre
              quisieron ser, que se reinventen…</p>
            <p class="text-justify">Identifiquen las creencias que las limitan y los lastres de relaciones pasadas,
              juicios heredados y se liberen para obtener plenitud y el placer, y estos se trasladaran en todas las
              áreas de tu vida.</p>

            <p class="text-justify">Los talleres y cursos dictados desde la Escuela constan de un programa especialmente
              creado por y para las mujeres, para que adquieran plena posesión de su poder, reconozcan el placer, su
              propio despertar sensual, su capacidad de goce, se conecten con la magia de su feminidad, la belleza (que
              excede cualquier estereotipo físico de moda), que adquieran seguridad, aumenten su autoestima y lideren
              sus decisiones y elecciones.</p>

            <p class="text-justify">“Somos las historia que nos contamos de nosotras mismas y de los demás”
              Romper con las creencias que nos limitan y hacer ese ajuste de cuentas histórico abrazando nuestra
              feminidad y deseo; desde el amor y la autoafirmación.

            <p class="text-justify">Nos sumergimos en estos espacios compartidos donde potenciamos experiencias y
              aprendemos nuevas herramientas de conexión, secretos milenarios de seducción, comunicación y más…</p>

            <p class="text-justify">El espacio se abre para todas!!!!</p>


            <p class="text-justify">Te invito a descubrirte!!!!</p><br>

          </div>
        </div>



        <div class="row">
          <div class="col-lg-12 text-center">
            <br>


            <div class="row">
              <div class="col-lg-12 text-center">
                <div class="embed-responsive embed-responsive-16by9">
                  <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/N5-QxUK0WaA"
                      title="YouTube video player" frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
  </section>

{% endblock contenido %}