<footer>
  <div class="container">
      <div class="row">
          <div class="col-md-3">
             
          </div>
          <div class="col-md-6">
              <ul class="list-inline social-buttons">
      <li> <a href="https://wa.me/+5491157213177"target="_blank"><i class="fa-brands fa-whatsapp"></i></a> </li>
      <li><a href="https://www.instagram.com/celinestajcer/ " target="_blank" ><i class="fa fa-instagram"></i></a>
                  </li>
      <li><a href="https://www.youtube.com/channel/UCPF4aX4epfRcjF3gYKg1T9g" target="_blank"><i class="fa fa-youtube"></i></a>
                  </li>
      
                  <li><a href="https://twitter.com/cdeseduccion" target="_blank" ><i class="fa fa-twitter"></i></a>
                  </li>
                  <li><a href="https://www.facebook.com/celinestajcer" target="_blank"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li><a href="https://www.linkedin.com/in/lic-celine-stajcer-142a1415/" target="_blank" ><i class="fa fa-linkedin"></i></a>
                  </li>
      <li><a href="https://www.tiktok.com/@celinestajcer" target="_blank" ><i class="fa-brands fa-tiktok"></i></a>
                  </li>
              </ul>
          </div>
          <div class="col-md-3">
              <span class="copyright">Copyright &copy; 2023</span>
          </div>
      </div>
  </div>
</footer>