{% extends './base.html' %} 

{% block titulo %}Inicio{% endblock titulo %} 

{%block contenido %}
<!-- Bio Section -->
<section id="bio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Bio</h2>
                <h3 class="section-subheading text-muted">ACERCA DE MI...</h3>
                <p class="text-justify">
                    ¡Hola! Mi nombre es Celine Stajcer y soy Licenciada en Relaciones
                    Públicas, Máster en Coaching Ontológico Profesional y Coach
                    Ontocorporal. También cuento con un Posgrado en Educación Ambiental,
                    Especialización en Educación Sexual y Vínculos, y soy Coordinadora en
                    terapia Bioenergética. A través de estas disciplinas, he adquirido
                    herramientas teóricas y marcos conceptuales que me permiten explorar
                    el impacto de la comunicación, los vínculos humanos, el poder de las
                    palabras, pensamientos, emociones y creencias en nuestras decisiones y
                    elecciones de vida. Para mí, cada experiencia es un maestro en sí
                    mismo y valoro la transformación personal que nos brinda.
                </p>
                <p class="text-justify">
                    Me considero una persona curiosa e inquieta, siempre en busca de ir
                    más allá. Me apasiona explorar la magia de la feminidad, el poder de
                    la seducción y la capacidad de transformación y resiliencia que
                    tenemos como mujeres. A pesar de que en el pasado se nos ha ignorado,
                    censurado y limitado, como mujeres somos fuertes y capaces de
                    trascender lo que parece imposible. Al cultivar nuestro poder femenino
                    y descubrir nuestros dones, podemos conectarnos con nuestras facetas
                    de diosas, magas, guerreras, madres, hijas y amantes, y avanzar hacia
                    nuestras metas con fortaleza interna, incluyendo nuestras luces y
                    sombras.
                </p>
                <p class="text-justify">
                    He trabajado como consultora y capacitadora en empresas y consultoras
                    en áreas como el coaching, el trabajo en equipo, la inteligencia
                    emocional, el liderazgo y la comunicación. También me he desempeñado
                    como asesora de imagen y ceremonialista en instituciones públicas y
                    privadas, y como profesora de Ceremonial y Protocolo en la Universidad
                    de la Marina Mercante y en cursos de posgrado y de extensión
                    universitaria en UTN, entre otros lugares. Además, he sido asesora
                    legislativa en la H.C.D.N en áreas de Cultura y Medio Ambiente,
                    experiencia que valoro mucho.
                </p>
                <p class="text-justify">
                    Para mí, la educación ambiental es una filosofía de vida que se basa
                    en el respeto y el cuidado de nuestro ambiente. Como tal, me he
                    desempeñado en diferentes medios de comunicación como columnista y
                    panelista en programas de radio y televisión en Argentina, y he
                    dictado seminarios y charlas sobre comunicación, autoestima,
                    seducción, negocios, ceremonial social, negocios y branding, entre
                    otros temas. También he publicado columnas en medios de prensa escrita
                    en Argentina e internacionales, como Le Monde Diplomatic, Revista Mia,
                    Revista para TI, Revista la Nación, Revista La Data, Revista C del
                    diario Crítica, Segmento Mujer Diario del Muy, Diario la Unión, Notas
                    on-line para Clarín Mujer, Notas on line para Diario veloz y Cinco W,
                    entre otros.
                </p>
            </div>
        </div>
        <br /><br />

        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-subheading text-muted">PARTE DE MI EXPERIENCIA…</h3>
                <p class="text-justify">
                    En mi trayectoria en los medios de comunicación, he tenido el
                    privilegio de actuar como columnista y panelista en diferentes
                    programas de radio y televisión en Argentina, como Radio el Mundo,
                    Radio Mix, América AM1190, Radio Continental y FM100, entre otros.
                    Además, he participado en programas de televisión como "Mujer 100%",
                    "Arbitrar TV", "La Noche C5N", "América TV" y "MTV, los 10 más
                    pedidos", así como en el programa "El diario de Mariana" por Canal 13,
                    entre otros.
                </p>
                <p class="text-justify">
                    He organizado seminarios y charlas sobre temas como "Comunicación y
                    Autoestima", "Seducción y negocios", "Lenguaje corporal sensual",
                    "Comunicar con nuestra imagen" y "Ceremonial social, negocios y
                    branding". También he publicado columnas en varios medios de prensa
                    escrita en Argentina y en otros países, como Le Monde Diplomatique,
                    Revista Mia, Revista para TI, Revista La Nación, Revista La Data,
                    Revista C del diario Crítica, Segmento Mujer Diario del Muy, Diario La
                    Unión, y notas en línea para Clarín Mujer, Diario Veloz y Cinco W,
                    entre otros. Algunos de los temas que he abordado son "Gustarse para
                    Seducir" y "Los secretos de la empresa sensual".
                </p>
                <p class="text-justify">
                    Además, soy capacitadora, consultora, investigadora y ambientalista, y
                    fundadora de la Primera Escuela de Seducción en Latinoamérica en 2010.
                    Desde la Escuela de Seducción y Desarrollo Personal, invito a las
                    mujeres a transformarse, revalidar sus vivencias y convertirse en la
                    MUJER que siempre quisieron ser, a través de la identificación de las
                    creencias que las limitan y los lastres de relaciones pasadas, juicios
                    heredados y liberarse para obtener plenitud y placer en todas las
                    áreas de su vida.
                </p>
                <p class="text-justify">
                    Los talleres y cursos que imparto en la Escuela de Seducción y
                    Desarrollo Personal se enfocan en un programa especialmente diseñado
                    para mujeres, donde pueden adquirir plena posesión de su poder,
                    reconocer su propio despertar sensual, su capacidad de goce y
                    conectarse con la magia de su feminidad y belleza. A través de estos
                    talleres, las mujeres aumentan su autoestima, adquieren seguridad y
                    lideran sus decisiones y elecciones.
                </p>
                <p class="text-justify">
                    "Somos las historia que nos contamos de nosotras mismas y de los
                    demás", y es por eso que en la Escuela de Seducción y Desarrollo
                    Personal, fomentamos el rompimiento de las creencias que nos limitan y
                    hacer un ajuste de cuentas histórico sobre nuestro pasado, para
                    abrazar nuestra feminidad y deseo, desde el amor y la autoafirmación.
                    En estos espacios compartidos, potenciamos experiencias y aprendemos
                    nuevas herramientas de conexión, secretos milenarios de seducción,
                    comunicación y más.
                </p>
                <p class="text-justify">
                    El espacio está abierto para todas las mujeres, te invito a
                    descubrirte y a liberarte de tus limitaciones.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock contenido %}