{% extends './base.html' %} 
{% load static %}

{% block titulo%} Prensa {% endblock %} 

{% block contenido%}

<!-- Prensa -->
<section id="prensa" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>PRENSA</h3>
        <br />

        <h3 class="section-subheading text-muted">MI PASO POR LOS MEDIOS…</h3>

        <p class="text-justify">
          En los medios de comunicación, he tenido el privilegio de participar
          como columnista y panelista en diferentes programas de radio y
          televisión en Argentina, como Radio el Mundo, Radio Mix, América
          AM1190, Radio Continental y FM100, entre otros. Además, he participado
          en programas de televisión como "Mujer 100%", "Arbitrar TV", "La Noche
          C5N", "América TV" y "MTV, los 10 más pedidos", así como en el
          programa "El diario de Mariana" por Canal 13, entre otros.
        </p>

        <p class="text-justify">
          También he publicado columnas en varios medios de prensa escrita en
          Argentina y en otros países, como Le Monde Diplomatique, radios y
          medio de Chile, Revista Mia, Revista para TI, Revista La Nación,
          Revista La Data, Revista C del diario Crítica, Segmento Mujer Diario
          del Muy, Diario La Unión, y notas en línea para Clarín Mujer, Diario
          Veloz y Cinco W, entre otros. Algunos de los temas que he abordado son
          "Gustarse para Seducir" y "Los secretos de la empresa sensual".
        </p>
      </div>
    </div>
  </div>
</section>

<section id="15" class="container galeria">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="imagy">
        <a
          href="{% static '/home/img/prensa/1.jpg' %}"
          data-lightbox="example-set"
          data-title="prensa 1"
        >
          <img src="{% static '/home/img/prensa/1.jpg' %}" alt="prensa 1" class="img-responsive"
        /></a>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="imagy">
        <a
          href="{% static '/home/img/prensa/2.jpg' %}"
          data-lightbox="example-set"
          data-title="prensa 2"
        >
          <img src="{% static '/home/img/prensa/2.jpg' %}" alt="prensa 2" class="img-responsive"
        /></a>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="imagy">
        <a
          href="{% static '/home/img/prensa/3.jpg' %}"
          data-lightbox="example-set"
          data-title="prensa 3"
        >
          <img src="{% static '/home/img/prensa/3.jpg' %}" alt="prensa 3" class="img-responsive"
        /></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="imagy">
        <a
          href="{% static '/home/img/prensa/4.jpg' %}"
          data-lightbox="example-set"
          data-title="prensa 4"
        >
          <img src="{% static '/home/img/prensa/4.jpg' %}" alt="prensa 4" class="img-responsive"
        /></a>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="imagy">
        <a
          href="{% static '/home/img/prensa/5.jpg' %}"
          data-lightbox="example-set"
          data-title="prensa 5"
        >
          <img src="{% static '/home/img/prensa/5.jpg' %}" alt="prensa 5" class="img-responsive"
        /></a>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="imagy">
        <a
          href="{% static '/home/img/prensa/6.jpg' %}"
          data-lightbox="example-set"
          data-title="prensa 6"
        >
          <img src="{% static '/home/img/prensa/6.jpg' %}" alt="prensa 6" class="img-responsive"
        /></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="imagy">
        <a
          href="{% static '/home/img/prensa/7.jpg' %}"
          data-lightbox="example-set"
          data-title="prensa 7"
        >
          <img src="{% static '/home/img/prensa/7.jpg' %}" alt="prensa 7" class="img-responsive"
        /></a>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="imagy">
        <a
          href="{% static '/home/img/prensa/8.jpg' %}"
          data-lightbox="example-set"
          data-title="prensa 8"
        >
          <img src="{% static '/home/img/prensa/8.jpg' %}" alt="prensa 8" class="img-responsive"
        /></a>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="imagy">
        <a
          href="{% static '/home/img/prensa/9.jpg' %}"
          data-lightbox="example-set"
          data-title="prensa 9"
        >
          <img src="{% static '/home/img/prensa/9.jpg' %}" alt="prensa 9" class="img-responsive"
        /></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="imagy">
        <a
          href="{% static '/home/img/prensa/10.jpg' %}"
          data-lightbox="example-set"
          data-title="prensa 10"
        >
          <img src="{% static '/home/img/prensa/10.jpg' %}" alt="prensa 10" class="img-responsive"
        /></a>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="imagy">
        <a
          href="{% static '/home/img/prensa/11.jpg' %}"
          data-lightbox="example-set"
          data-title="prensa 11"
        >
          <img src="{% static '/home/img/prensa/11.jpg' %}" alt="prensa 11" class="img-responsive"
        /></a>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="imagy">
        <a
          href="{% static '/home/img/prensa/12.jpg' %}"
          data-lightbox="example-set"
          data-title="prensa 12"
        >
          <img src="{% static '/home/img/prensa/12.jpg' %}" alt="prensa 12" class="img-responsive"
        /></a>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="imagy">
        <a
          href="{% static '/home/img/prensa/13.jpg' %}"
          data-lightbox="example-set"
          data-title="prensa 13"
        >
          <img src="{% static '/home/img/prensa/13.jpg' %}" alt="prensa 13" class="img-responsive"
        /></a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="imagy">
        <a
          href="{% static '/home/img/prensa/14.jpg' %}"
          data-lightbox="example-set"
          data-title="prensa 14"
        >
          <img src="{% static '/home/img/prensa/14.jpg' %}" alt="prensa 14" class="img-responsive"
        /></a>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="imagy">
        <a
          href="{% static '/home/img/prensa/15.jpg' %}"
          data-lightbox="example-set"
          data-title="prensa 15"
        >
          <img src="{% static '/home/img/prensa/15.jpg' %}" alt="prensa 15" class="img-responsive"
        /></a>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="imagy">
        <a
          href="{% static '/home/img/prensa/16.jpg' %}"
          data-lightbox="example-set"
          data-title="prensa 16"
        >
          <img src="{% static '/home/img/prensa/16.jpg' %}" alt="prensa 16" class="img-responsive"
        /></a>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="imagy">
        <a
          href="{% static '/home/img/prensa/17.jpg' %}"
          data-lightbox="example-set"
          data-title="prensa 17"
        >
          <img src="{% static '/home/img/prensa/17.jpg' %}" alt="prensa 17" class="img-responsive"
        /></a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="imagy">
        <a
          href="{% static '/home/img/prensa/18.jpg' %}"
          data-lightbox="example-set"
          data-title="prensa 18"
        >
          <img src="{% static '/home/img/prensa/18.jpg' %}" alt="prensa 18" class="img-responsive"
        /></a>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="imagy">
        <a
          href="{% static '/home/img/prensa/19.jpg' %}"
          data-lightbox="example-set"
          data-title="prensa 19"
        >
          <img src="{% static '/home/img/prensa/19.jpg' %}" alt="prensa 19" class="img-responsive"
        /></a>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="imagy">
        <a
          href="{% static '/home/img/prensa/20.jpg' %}"
          data-lightbox="example-set"
          data-title="prensa 20"
        >
          <img src="{% static '/home/img/prensa/20.jpg' %}" alt="prensa 20" class="img-responsive"
        /></a>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="imagy">
        <a
          href="{% static '/home/img/prensa/21.jpg' %}"
          data-lightbox="example-set"
          data-title="prensa 21"
        >
          <img src="{% static '/home/img/prensa/21.jpg' %}" alt="prensa 21" class="img-responsive"
        /></a>
      </div>
    </div>
  </div>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/watch?v=leg0MWlZH7A" allowfullscreen></iframe>
  </div>
  {% endblock %}
</section>
